 
/* HOME SLIDER AND LOADER */

/* =Preloader ----> */
#preloader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: white;
}
  #preloader .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  #preloader .txt-perc {
    font-size: 50px;
    opacity: 1;
    margin: 0 0 6px 0;
    max-width: 400px;
    text-align: center;
    color: #b9ce01;
}
  #preloader .progress {
    width: 100px;
    height: 3px;
    background-color: #bbb;
    margin: 0 auto 15px auto;
}
    #preloader .progress span {
      display: block;
      width: 0;
      height: 100%;
      background-color: #008141;
}
  #preloader.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.is-loading {
    overflow: hidden;
}
/* <---- Preloader */

.logo-homeslide {
  position: absolute;
  bottom: 0;
  right: 6%;
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
  z-index: 10;
}

.bcg {
 display: block;
 height: 100vh;
 margin-bottom: 30px;
}
 
 .hero-container {
    position: absolute;
    z-index: 4;
    width: 80%;
    left: 10%;
    top: 20%;
    margin: 0 0 20px 0;
 }

.hero-title {
  position: relative;
  font: 40px 'Open Sans Condensed Light', Helvetica, Helvetica Neue, Arial, sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.hero-txt {
  font: 20px 'Open Sans Condensed Light', Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

 .bottom {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;

   transition: all 0.25s ease-in 0s;
   -webkit-transition: all 0.25s ease-in 0s;
   -moz-transition: all 0.25s ease-in 0s;
   -ms-transition: all 0.25s ease-in 0s;
   -o-transition: all 0.25s ease-in 0s;
 }

  .bottom.rightbar, .top.rightbar {
    right: 290px;
    transition: all 0.25s ease-out 0s;
    -webkit-transition: all 0.25s ease-out 0s;
    -moz-transition: all 0.25s ease-out 0s;
    -ms-transition: all 0.25s ease-out 0s;
    -o-transition: all 0.25s ease-out 0s;
  }

 .bottom a {
   color: #fff;
 }

 .divider {
   background: url(/assets/img/pattern.png) repeat top left;
   height: 100%;
   position: relative;
 }
  
 .hero {
   position: absolute;
   height: 100%;
   width: 100%;
 }

 .top {
   overflow: hidden;
   position: absolute;
   left: 40px;
   right: 40px;
   top: 0;
   height: 100%;
   background-color: rgba(151, 180, 0, 1);

   transition: all 0.25s ease-in 0s;
   -webkit-transition: all 0.25s ease-in 0s;
   -moz-transition: all 0.25s ease-in 0s;
   -ms-transition: all 0.25s ease-in 0s;
   -o-transition: all 0.25s ease-in 0s;

 }
  
 .homeSlide, .slide-img {
   position: absolute;
   width: 100%;
   height: 100%;
 }

.slide-img {
    opacity: 1;
 }

 #slideNav {
   z-index: 5;
   position: relative;
   left: 40px;
   top: 50%;
   width: 50px;
 }
  
 #slideNav ul {
   list-style: none;
   color: #ffffff;
   font-size: 13px;
   text-align: center;
   margin: 0;
   padding: 0;
 }
  
 #slideNav li {
   width: 50px;
   height: 50px;
   line-height: 50px;
   background-color: rgba(255, 255, 255, 0.25);
 }
  
 #slideNav a {
   display: block;
   width: 50px;
   height: 50px;
   position: relative;
   overflow: hidden;
   text-decoration: none;
   color: #ffffff;
   text-align: center;
 }

  #slideNav i.fa {
    line-height: 50px;
    font-size: 15px;
  }

  #slideNav a:hover {
    color: #b9ce01;
  }

  #short-slideNav, #first-content-nav  {
    position: absolute;
    text-align: center;
    bottom: 45px;
    width: 100%;

  }

    #short-slideNav li {
      display: inline-block;
      width: auto;
      list-style: none;
    }

    #short-slideNav li a {
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
    }

  #short-slideNav 

 .containerslide {
     position: relative;
     width: 100%;
     height: 100%;
 }

#first-content-nav {
  bottom: 0;
}

#first-content-nav a {
    text-align: center!important;
    padding: 0!important;
    display: inline;
    font-size: 50px;
    height: 20px;
    color: white;
    transition: all 0.25s ease-in 0s;
   -webkit-transition: all 0.25s ease-in 0s;
   -moz-transition: all 0.25s ease-in 0s;
   -ms-transition: all 0.25s ease-in 0s;
   -o-transition: all 0.25s ease-in 0s;
}

#first-content-nav a:hover {
  color: rgba(185, 212, 76, 1);

}